.dados-usd {
  background: linear-gradient(120deg, #6e0446, #e924b8, #6e0446);
  width: 50vh;
}

.dadosusd {
  font-family: sans-serif;
  color: white;
  text-align: center;
}
.name-usd {
  font-family: sans-serif;
  font-size: 10pt;
  color: white;
}

.alta-usd {
  font-family: sans-serif;
  font-size: 10pt;
  color: white;
}

.baixa-usd {
  font-family: sans-serif;
  font-size: 10pt;
  color: white;
}

.test {
  font-family: sans-serif;
  font-size: 10pt;
  color: rgb(27, 209, 3);
}

.dados-eur {
  background: linear-gradient(120deg, #6e0446, #e924b8, #6e0446);
  width: 50vh;
}

.dadoseur {
  font-family: sans-serif;
  color: white;
  text-align: center;
}

.name-eur {
  font-family: sans-serif;
  font-size: 10pt;
  color: white;
}

.alta-eur {
  font-family: sans-serif;
  font-size: 10pt;
  color: white;
}

.baixa-eur {
  font-family: sans-serif;
  font-size: 10pt;
  color: white;
}
