.dados-usd {
  color: white;
}

.dadosusd {
  font-family: sans-serif;
  color: white;
  text-align: center;
}

.name-usd {
  font-family: sans-serif;
  font-size: 13pt;
  color: white;

}

.alta-usd {
  font-family: sans-serif;
  font-size: 13pt;
  color: white;
}

.baixa-usd {
  font-family: sans-serif;
  font-size: 13pt;
  color: white;
}

.cor-verde {
  font-family: sans-serif;
  font-size: 13pt;
  color: rgb(27, 209, 3);
}

.dados-eur {
  color: white;
  text-align: c;
}

.dadoseur {
  font-family: sans-serif;
  color: white;
  text-align: center;
}

.name-eur {
  font-family: sans-serif;
  font-size: 13pt;
  color: white;
}

.alta-eur {
  font-family: sans-serif;
  font-size: 13pt;
  color: white;
}

.baixa-eur {
  font-family: sans-serif;
  font-size: 13pt;
  color: white;
}

.dados-btc {
  color: white;
}

.dadosbtc {
  font-family: sans-serif;
  color: white;
  text-align: center;

}

.name-btc {
  font-family: sans-serif;
  font-size: 13pt;
  color: white;
}

.alta-btc {
  font-family: sans-serif;
  font-size: 13pt;
  color: white;
}

.baixa-btc {
  font-family: sans-serif;
  font-size: 13pt;
  color: white;
}


section.container {
  padding: 20px;
}

section.container div.carrega-dados-moeda {
  height: 0;
  overflow: hidden;
  padding: 10px;
}

section.container div.carrega-dados-moeda.ativo {
  height: 100px;
}

h2 {
  cursor: pointer;
}

.btvoltarapi {
  font-family: sans-serif;
  font-size: 13pt;
  color: white;
  justify-content: center;
  padding: 5px;
  text-decoration: none;
  margin-left: 64%;
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.escolha {
  height: 50%;
  width: 20%;
  background-color: white;
}