@font-face {
  font-family: "Avenir Roman";
  src: url("avenir-roman.ttf") format("truetype");
}


body {
  padding-top: 70px;
  background-image: url("imagenscss/original.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 100%;
}


@media screen and (max-width: 1023px) {
  body {
    padding-top: 70px;
    background-image: url("imagenscss/original-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat center;
    display: block;
    align-items: center;
  }
}


@media only screen and (min-width: 1024px) and (max-width: 1700px) {
  .botao-entrar {
    display: flex;
    justify-content: flex-end;
    margin-top: -70px;
    margin-right: 20px;
  }
}


@media only screen and (min-width: 1024px) and (max-width: 1700px) {
  .entrar {
    font-family: "avenir-roman", sans-serif;
    font-size: 18px;
    color: #ffff;
    border: 1px solid silver;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 14px 16px;
    cursor: pointer;
    text-decoration: none;
  }
}


@media only screen and (min-width: 100px) and (max-width: 1023px) {
  .botao-entrar {
    display: flex;
    justify-content: flex-end;
    margin-top: -70px;
    margin-right: 10px;
  }
}


@media only screen and (min-width: 100px) and (max-width: 1023px) {
  .entrar {
    font-family: "avenir-roman", sans-serif;
    font-size: 13px;
    color: #ffff;
    border: 1px solid silver;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 06px;
    cursor: pointer;
    text-decoration: none;
  }
}


.container-hero {
  margin-top: 100px;
}


.hero {
  background-repeat: no-repeat;
  margin-left: 200px;
}


@media only screen and (min-width: 1024px) and (max-width: 1700px) {
  .titulo {
    font-family: "Avenir Roman", sans-serif;
    padding-bottom: 24px;
    margin-left: -70px;
    font-size: 28px;
    line-height: 38px;
    font-weight: bold;
    color: #f9f9f9;
  }
}


@media screen and (max-width: 1023px) {
  .titulo {
    font-family: "Avenir Roman", sans-serif;
    margin-top: 100px;
    margin-left: 100px;
    font-size: 22px;
    line-height: 32px;
    font-weight: bold;
    color: #f9f9f9;
    display: flex;
    text-align: center;
  }
}


@media screen and (max-width: 740px) {
  .titulo {
    font-family: "Avenir Roman", sans-serif;
    margin-top: 280px;
    margin-left: -160px;
    font-size: 22px;
    line-height: 32px;
    font-weight: bold;
    color: #f9f9f9;
    display: flex;
    text-align: center;
  }
}


@media screen and (max-width: 360px) {
  .titulo {
    font-family: "Avenir Roman", sans-serif;
    margin-top: 270px;
    margin-left: -185px;
    font-size: 22px;
    line-height: 32px;
    font-weight: bold;
    color: #f9f9f9;
    text-align: center;
  }
}


@media screen and (max-width: 320px) {
  .titulo {
    font-family: "Avenir Roman", sans-serif;
    margin-top: 188px;
    margin-left: -185px;
    font-size: 22px;
    line-height: 32px;
    font-weight: bold;
    color: #f9f9f9;
    text-align: center;
  }
}


.logo {
  max-width: 320px;
}


@media screen and (max-width: 1023px) {
  .logo {
    max-width: 240px;
    margin-left: 180px;
  }
}


@media screen and (max-width: 740px) {
  .logo {
    max-width: 1000px;
    max-height: 100px;
    margin-left: -80px;
    margin-top: -5px;
    display: flex;
  }
}


@media screen and (max-width: 360px) {
  .logo {
    max-width: 1000px;
    max-height: 100px;
    margin-left: -120px;
    margin-top: -5px;
    display: flex;
  }
}


@media screen and (max-width: 1760px) {
  .botao-assine {
    padding-top: 20px;
    margin-left: -120px;
    display: flex;
  }
}


@media screen and (max-width: 1500px) {
  .botao-assine {
    padding-top: 20px;
    margin-left: -155px;
  }
}


@media screen and (max-width: 1023px) {
  .botao-assine {
    padding-top: 20px;
    margin-left: -40px;
  }
}


@media screen and (max-width: 740px) {
  .botao-assine {
    margin-left: -182px;
    display: flex;
  }
}


@media screen and (max-width: 360px) {
  .botao-assine {
    margin-left: -188px;
    display: flex;
  }
}


@media screen and (max-width: 320px) {
  .botao-assine {
    margin-left: -192px;
    display: flex;
  }
}


@media screen and (max-width: 1760px) {
  .assine {
    color: #f9f9f9;
    font-family: "Avenir Roman", sans-serif;
    background: #6421ff;
    ;
    width: 640px;
    height: 68px;
    cursor: pointer;
    font-size: 18px;
    line-height: 18px;
    border-radius: 5px;
    border: 8px solid transparent;
  }
}


@media screen and (max-width: 1500px) {
  .assine {
    color: #f9f9f9;
    font-family: "Avenir Roman", sans-serif;
    background: #6421ff;
    ;
    width: 600px;
    height: 68px;
    cursor: pointer;
    font-size: 18px;
    line-height: 18px;
    border-radius: 5px;
    border: 8px solid transparent;
  }
}


@media screen and (max-width: 1023px) {
  .assine {
    color: #f9f9f9;
    font-family: "Avenir Roman", sans-serif;
    background: #6421ff;
    ;
    width: 600px;
    height: 68px;
    cursor: pointer;
    font-size: 18px;
    line-height: 18px;
    border-radius: 5px;
    border: 8px solid transparent;
  }
}


@media screen and (max-width: 740px) {
  .assine {
    color: #f9f9f9;
    font-family: "Avenir Roman", sans-serif;
    background: #6421ff;
    ;
    width: 330px;
    height: 50px;
    cursor: pointer;
    font-size: 18px;
    line-height: 18px;
    border-radius: 5px;
    border: 8px solid transparent;
  }
}


@media screen and (max-width: 360px) {
  .assine {
    color: #f9f9f9;
    font-family: "Avenir Roman", sans-serif;
    background: #6421ff;
    ;
    width: 320px;
    height: 50px;
    cursor: pointer;
    font-size: 18px;
    line-height: 18px;
    border-radius: 5px;
    border: 8px solid transparent;
  }
}


@media screen and (max-width: 320px) {
  .assine {
    color: #f9f9f9;
    font-family: "Avenir Roman", sans-serif;
    background: #6421ff;
    ;
    width: 290px;
    height: 50px;
    cursor: pointer;
    font-size: 18px;
    line-height: 18px;
    border-radius: 5px;
    border: 8px solid transparent;
  }
}


@media screen and (max-width: 1760px) {
  .small-text1 {
    color: #f9f9f9;
    margin-left: -100px;
  }
}


@media screen and (max-width: 1500px) {
  .small-text1 {
    color: #f9f9f9;
    margin-left: -150px;
  }
}


@media screen and (max-width: 1023px) {
  .small-text1 {
    color: #f9f9f9;
    margin-left: -40px;
  }
}


@media screen and (max-width: 740px) {
  .small-text1 {
    color: #f9f9f9;
    margin-left: -500px;
    padding-left: 270px;
    display: block;
  }
}


@media screen and (max-width: 360px) {
  .small-text1 {
    color: #f9f9f9;
    margin-left: -500px;
    padding-left: 270px;
    display: block;
  }
}


@media screen and (max-width: 740px) {
  .small-text2 {
    color: #f9f9f9;
    display: flex;
    margin-left: 270px;
    margin-top: -24px;
    display: flex;
  }
}


@media screen and (max-width: 360px) {
  .small-text2 {
    color: #f9f9f9;
    display: flex;
    margin-left: 270px;
    margin-top: -24px;
    display: flex;
  }
}


@media screen and (max-width: 740px) {
  .small-text3 {
    color: #f9f9f9;
    margin-left: 280px;
    margin-top: -20px;
    display: block;

  }
}


@media screen and (max-width: 370px) {
  .small-text3 {
    color: #f9f9f9;
    margin-left: 280px;
    margin-top: -20px;
    display: block;

  }
}


.link {
  font-family: "Avenir Roman", sans-serif;
  cursor: pointer;
  color: #f9f9f9;
  text-align: inherit;
  font-size: 16px;
  line-height: 26px;
  list-style: none;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.2px;
  background-color: transparent;
  border: none;
  padding-top: 20px;
  padding-left: 35px;
  text-decoration: underline;
}


@media screen and (max-width: 740px) {
  .link {
    font-family: "Avenir Roman", sans-serif;
    cursor: pointer;
    color: #f9f9f9;
    text-align: inherit;
    font-size: 14px;
    line-height: 26px;
    list-style: none;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.2px;
    background-color: transparent;
    border: none;
    padding-top: 0px;
    padding-left: 35px;
    text-decoration: underline;
    display: flex;
  }
}


@media screen and (max-width: 360px) {
  .link {
    font-family: "Avenir Roman", sans-serif;
    cursor: pointer;
    color: #f9f9f9;
    text-align: inherit;
    font-size: 14px;
    line-height: 26px;
    list-style: none;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.2px;
    background-color: transparent;
    border: none;
    padding-top: 0px;
    text-decoration: underline;
    display: flex;

  }
}


.link1 {
  font-family: "Avenir Roman", sans-serif;
  cursor: pointer;
  color: #f9f9f9;
  text-align: inherit;
  font-size: 16px;
  line-height: 26px;
  list-style: none;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.2px;
  background-color: transparent;
  border: none;
  padding-top: 20px;
  text-decoration: underline;
}


@media screen and (max-width: 740px) {
  .link1 {
    font-family: "Avenir Roman", sans-serif;
    cursor: pointer;
    color: #f9f9f9;
    text-align: inherit;
    font-size: 14px;
    line-height: 26px;
    list-style: none;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.2px;
    background-color: transparent;
    border: none;
    padding-top: 0px;
    text-decoration: underline;
    display: flex;
  }
}


@media screen and (max-width: 360px) {
  .link1 {
    font-family: "Avenir Roman", sans-serif;
    cursor: pointer;
    color: #f9f9f9;
    text-align: left;
    font-size: 14px;
    line-height: 26px;
    list-style: none;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.2px;
    background-color: transparent;
    border: none;
    padding-top: 0px;
    text-decoration: underline;
    display: flex;
    margin-left: -190px;
    text-indent: 13em;
  }
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


* {
  font-family: 'Open Sans', sans-serif;
}


p {
  text-align: justify;
}


.btn {
  background-color: rgb(33, 156, 70);
  padding: 5px 10px 5px 10px;
  border: 2px solid rgb(4, 92, 30);
  cursor: pointer;
  transition: background .3s;
  border-radius: 5px;
  color: #FFF;
}


.btn:hover {
  background-color: rgb(4, 92, 30);
}


.btn:active {
  background-color: rgb(129, 255, 166);
  color: rgb(4, 92, 30);
}


.modal {
  background-color: rgba(0, 0, 0, .85);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}


.modal-content {
  margin: 0 auto;
  margin-top: 3%;
  max-width: 550px;
  /*background-color: #eee;*/
  background: transparent;
  padding: 0;
  /*box-shadow: 0 0 2px #fff;*/
  padding: 1px;
}


.modal-header h1 {
  font-weight: bold;
  text-align: center;
}


.modal-header,
.modal-body,
.modal-footer {
  padding: 10px;
}


.modal-header {
  background-color: #ccc;
}


.modal-footer {
  background-color: #ccc;
}


.modal2 {
  background-color: rgba(0, 0, 0, .85);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}


.modal2-content {
  margin: 0 auto;
  margin-top: 3%;
  max-width: 550px;
  height: 510px;
  background: linear-gradient(120deg, #000000, #0a41d6, #000000);
  padding: 0;
  box-shadow: 0 0 2px #fff;
  padding: 2px;
}


.modal-header h1 {
  font-weight: bold;
  text-align: center;
}


.modal2-body {
  padding: 10px;
}



